* {
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --header-font: "Sora";
  --main-font: "Poppins";

  /* Colors */
  --primary-color: #ff5b2e;
  --primary-color-heading: #000958;
  --primary-color-text: #656689;

  /* Staff */
  --staff-bg: ;
  --staff-url: ;
  --staff-1-bg: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
  --staff-2-bg: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
  --staff-3-bg: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
  --staff-4-bg: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
  --staff-1-url: url("../img/mem-1.svg");
  --staff-2-url: url("../img/mem-2.svg");
  --staff-3-url: url("../img/mem-3.svg");
  --staff-4-url: url("../img/mem-4.svg");
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--main-font);
  background-color: #fffaf5;
}
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 56px;
  display: inline-flex;
  align-items: center;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid var(--primary-color);
  border-radius: 999px;
  font-size: 1.6rem;
  font-weight: 500;
}
.btn__sign-in {
  font-weight: 600 !important;
  color: var(--primary-color-heading) !important;
}

.section-heading {
  color: var(--primary-color-heading);
  font-family: var(--header-font);
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 119.231%; /* 119.231% */
}
.section-desc {
  margin-top: 24px;
  color: var(--primary-color-text);
  font-family: var(--main-font);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%; /* 187.5% */
}

